* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.game-container{
    background-color: #01C89A;
    margin-top: 50px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #13765F;
}

.title{
    color: #505354;
    text-align: center;
}

span{
    color: white;
}

.status-block{
    display: flex;
    margin-top: 1.3rem;
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.status{
    margin-top: 5px;
    color: #F2EBD3;
    font-weight: bold;
}

.restart {
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid aqua;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
}
  
.restart:hover {
    background-color: lightseagreen;
    color: #F2EBD3;
}

#game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: #008768;
    grid-gap: 10px;
    margin-top: 30px;
    
}

.cell{
    height: 100px;
    width: 100px;
    background-color: #01C89A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.6);
}
.x::before{
    content:'✕';
    color: #fff;
    font-size: 100px;
}

.o::before{
    content:'○';
    color: #505354;
    font-size: 125px;
}

